.jumbotron {
    background-image: url("/assets/img/sander-dalhuisen-nA6Xhnq2Od8-unsplash.jpg");
   background-position-x: -300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    margin-top: 10px;
}

.jumbotron > h1 {
    font-family: 'Bungee Inline', cursive;
}

#newBurger {
    border-radius: 7px;
   
}

#newColor {
    color: #fff;
}

#newColor2 {
    color: #f04815;
}

#leftHeader {
    background-color: #f04815;
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#rightHeader {
    background-color: #f38e0a;
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#eatButton, #trashButton {
    float: right;
}